
.vs/

Blue.App/*~
Blue.App/*.sw[mnpcod]
Blue.App/*.log
Blue.App/*.tmp
Blue.App/*.tmp.*
Blue.App/log.txt
Blue.App/*.sublime-project
Blue.App/*.sublime-workspace
Blue.App/.vscode/
Blue.App/npm-debug.log*

Blue.App/.idea/
Blue.App/.sourcemaps/
Blue.App/.sass-cache/
Blue.App/.tmp/
Blue.App/.versions/
Blue.App/coverage/
Blue.App/dist/
Blue.App/node_modules/
Blue.App/tmp/
Blue.App/temp/
Blue.App/hooks/
Blue.App/platforms/
Blue.App/plugins/
Blue.App/plugins/android.json
Blue.App/plugins/ios.json
Blue.App/www/
Blue.App/$RECYCLE.BIN/

Blue.App/.DS_Store
Blue.App/Thumbs.db
Blue.App/UserInterfaceState.xcuserstate

Blue.Api/bin/Debug/
Blue.Api/node_modules/
Blue.Api/obj/
Blue.Api/Modules/Blue.Model/bin/
Blue.Api/Modules/Blue.Data/bin/
Blue.Api/Modules/Blue.DomainService/bin/
Blue.Client/obj/
Blue.Client/bin/
Blue.IdentityServer/bin/
Blue.IdentityServer/obj/
Clients/Blue.Web/obj/
Clients/Blue.Web/bin/
Modules/Blue.Constract/bin/
Modules/Blue.DomainService/bin/
Modules/Blue.Constract/obj/
Modules/Blue.Converter/obj/
Modules/Blue.Data/obj/
Modules/Blue.Converter/bin/
Modules/Blue.Data/bin/
Modules/Blue.DomainService/obj/
Modules/Blue.Model/obj/
Modules/Blue.Model/bin/
Framework/Framework.Common/obj/
Framework/Framework.Constract/obj/
Framework/Framework.Data/obj/
Framework/Framework.Datatables/obj/
Framework/Framework.Datatables/bin/
Framework/Framework.Data/bin/
Framework/Framework.Common/bin/
Framework/Framework.Constract/bin/
Framework.DevExtreme/obj/
Framework.DevExtreme/bin/
Blue.Constract/bin/
Blue.Constract/obj/
Blue.Converter/bin/
Blue.Converter/obj/
Blue.Data/bin/
Blue.Data/obj/
Blue.DomainService/bin/
Blue.DomainService/obj/
Blue.Model/bin/
Blue.Model/obj/
Blue.Web/bin/
Blue.Web/node_modules/
Blue.Web/obj/
Framework.Common/bin/
Framework.Common/obj/
Framework.Constract/bin/
Framework.Constract/obj/
Framework.Data/bin/
Framework.Data/obj/
Framework.Datatables/bin/
Framework.Datatables/obj/
*.user
Blue.Api/.vscode/
Framework.Infrastructure/obj/
Framework.Infrastructure/bin/
Clients/blue-app/node_modules/
*.DS_Store
WebHost.Customization/obj/
WebHost.Customization/bin/
Framework/Framework.DevExtreme/bin/
Framework/Framework.DevExtreme/obj/
Blue.Api/bin/
