<div id="login" fxLayout="column">

    <div id="login-form-wrapper" fxLayout="column" fxLayoutAlign="center center">

        <!-- <div id="login-form" [@animate]="{value:'*',params:{duration:'300ms',y:'100px'}}"> -->
        <div id="login-form">
            <div class="logo">
                <img src="assets/images/logos/fuse.svg" alt="Logo">
            </div>

            <div class="title">LOGIN TO YOUR ACCOUNT</div>

            <form name="loginForm" [formGroup]="loginForm" novalidate autocomplete="off">

                <mat-form-field>
                    <input matInput placeholder="Username" formControlName="username">
                    <mat-error *ngIf="loginFormErrors.username.required">
                        Username is required
                    </mat-error>
                </mat-form-field>

                <button mat-raised-button color="accent" class="submit-button" aria-label="CONTINUE"
                        (click)="login()"
                        [disabled]="loginForm.invalid">
                    CONTINUE
                </button>
            </form>
        </div>

    </div>

</div>