<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Server Identity</title>
    <meta name="description" content="Material design admin template with pre-built apps and pages">
    <meta name="keywords" content="HTML,CSS,AngularJS,Angular,Angular 2,Angular 4,Angular 5,Angular 6,Material">
    <meta name="author" content="Withinpixels">
    <link rel="icon" type="image/x-icon" href="~/assets/favicon.ico" />
    <link rel="shortcut icon" type="image/x-icon" href="~/assets/favicon.ico" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700italic,700,900,900italic" rel="stylesheet">
    <environment names="Development">
        <!-- STYLESHEETS -->
        <style type="text/css">
            [fuse-cloak],
            .fuse-cloak {
                display: none !important;
            }
        </style>

        <!-- Icons.css -->
        <link type="text/css" rel="stylesheet" href="~/assets/icons/fuse-icon-font/style.css">
        <!-- Animate.css -->
        <link type="text/css" rel="stylesheet" href="~/assets/vendor/animate.css/animate.min.css">
        <!-- PNotify -->
        <link type="text/css" rel="stylesheet" href="~/assets/vendor/pnotify/dist/PNotifyBrightTheme.css">
        <!-- Nvd3 - D3 Charts -->
        <link type="text/css" rel="stylesheet" href="~/assets/vendor/nvd3/build/nv.d3.min.css" />
        <!-- Perfect Scrollbar -->
        <link type="text/css" rel="stylesheet" href="~/assets/vendor/perfect-scrollbar/css/perfect-scrollbar.css" />
        <link type="text/css" rel="stylesheet" href="~/assets/fuse-html/fuse-html.min.css"/>
        <link type="text/css" rel="stylesheet" href="~/assets/css/main.css"/>
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/assets/css/main.css" asp-append-version="true" />
    </environment>
</head>
<body class="layout layout-vertical">
    <main>
        @RenderBody()
    </main>

    <!-- jQuery -->
    <script type="text/javascript" src="~/assets/vendor/jquery/dist/jquery.min.js"></script>
    <!-- Mobile Detect -->
    <script type="text/javascript" src="~/assets/vendor/mobile-detect/mobile-detect.min.js"></script>
    <!-- Perfect Scrollbar -->
    <script type="text/javascript" src="~/assets/vendor/perfect-scrollbar/dist/perfect-scrollbar.min.js"></script>
    <!-- Popper.js -->
    <script type="text/javascript" src="~/assets/vendor/popper.js/dist/umd/popper.min.js"></script>
    <!-- Bootstrap -->
    <script type="text/javascript" src="~/assets/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- Nvd3 - D3 Charts -->
    <script type="text/javascript" src="~/assets/vendor/d3/d3.min.js"></script>
    <script type="text/javascript" src="~/assets/vendor/nvd3/build/nv.d3.min.js"></script>
    <!-- Data tables -->
    <script type="text/javascript" src="~/assets/vendor/datatables.net/js/jquery.dataTables.js"></script>
    <script type="text/javascript" src="~/assets/vendor/datatables-responsive/js/dataTables.responsive.js"></script>
    <!-- PNotify -->
    <script type="text/javascript" src="~/assets/vendor/pnotify/dist/iife/PNotify.js"></script>
    <script type="text/javascript" src="~/assets/vendor/pnotify/dist/iife/PNotifyStyleMaterial.js"></script>
    <script type="text/javascript" src="~/assets/vendor/pnotify/dist/iife/PNotifyButtons.js"></script>
    <script type="text/javascript" src="~/assets/vendor/pnotify/dist/iife/PNotifyCallbacks.js"></script>
    <script type="text/javascript" src="~/assets/vendor/pnotify/dist/iife/PNotifyMobile.js"></script>
    <script type="text/javascript" src="~/assets/vendor/pnotify/dist/iife/PNotifyHistory.js"></script>
    <script type="text/javascript" src="~/assets/vendor/pnotify/dist/iife/PNotifyDesktop.js"></script>
    <script type="text/javascript" src="~/assets/vendor/pnotify/dist/iife/PNotifyConfirm.js"></script>
    <script type="text/javascript" src="~/assets/vendor/pnotify/dist/iife/PNotifyReference.js"></script>
    <!-- Fuse Html -->
    <script type="text/javascript" src="~/assets/fuse-html/fuse-html.min.js"></script>
    <script type="text/javascript" src="~/assets/js/main.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
